<div class="about-section">
    <h1>About Xoriant</h1>
    <p>Xoriant is a Silicon Valley based product engineering, software development and technology services firm with offices in the U.S., Europe and Asia. </p>
    <p>Whether you’re a tech company or an enterprise, a startup or a Fortune 100, leverage our product engineering pedigree and next-gen tech expertise to innovate the solutions that keep you competitive.</p>
  </div>

<br>
  <h2 style="text-align: center;"> Our Team</h2>

  <div class="row justify-content-center">

    <div class="column">
        <div class="card">
            <img src="../../assets/team2.jpg"  style ="width: 100%;">

            <div class="container">
                <h2>Pranay Pednekar</h2>
                <p class="title">Author & Developer</p>
                <p>He is MEAN developer with 10 years exprerience in IT industry.</p>
                <p>pednekar@xoriant.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <img src="../../assets/team3.jpg"  style ="width: 100%;">

            <div class="container">
                <h2>Sanket Terdal</h2>
                <p class="title">Mentor & Project Manager</p>
                <p>He is project manager in xoriant with 20 years exprerience in IT industry</p>
                <p>sanket@xoriant.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

  </div>
